/* Import */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Marvel:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

/* font-family: 'Fredericka the Great', cursive;
font-family: 'Marvel', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Normalize */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style */

body {
    font-family: 'Roboto Slab', serif;
    background: url(../img/portada.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: snow;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.titulo {
    text-align: center;
    margin: 2rem auto;
    text-decoration: underline;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    color: snow;
}

.boton {
    border: ridge 2px gainsboro;
    border-radius: 2rem;
    font-family: 'Marvel', sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.barra_botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.botones_funciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#boton_carrito {
    --bs-btn-color: #424141;
    --bs-btn-bg: #aedb4a;
}

#contador {
    background: tomato;
    font-size: 1.8rem;
    border-radius: 1rem;
}

/* Style Cards */

.loading {
    text-align: center;
    font-size: 2rem;
    color: snow;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 2rem;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Marvel', sans-serif;
    font-size: 1.4rem;
    background: linear-gradient(#f2924c, #d3d3e6);
    border: ridge 4px rgb(182, 253, 172) !important;
    margin: 1rem 2rem;
    opacity: 0.95;
}

.card__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img {
    width: 12vw;
    height: 20vh;
    border-radius: 1rem;
}

.btn_agregar {
    border: ridge 2px gainsboro;
    border-radius: 2rem;
    margin: 1rem;
}

/* Style Formulario Nuevo Producto */

.nuevo_producto {
    align-self: center;
}

.formulario_producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    border: ridge deeppink 5px;
    padding: 2rem;
    width: 50vw;
    margin: 2rem auto;
    background: linear-gradient(to right, rgb(95, 12, 12), orange);
}

.formulario_producto form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-family: 'Roboto Slab', serif;
}

.labels {
    text-decoration: underline;
    font-weight: bold;
}

.inputs {
    border: red solid 2px;
    border-radius: 2rem;
    width: 75%;
}

/* Modal */

.modal {
    --bs-modal-bg: #c1d58d !important;
}

.modal p {
    font-family: 'Marvel', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.modal-title {
    font-family: 'Marvel', sans-serif;
    font-size: 2rem;
}