/* Import */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Marvel:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

/* font-family: 'Fredericka the Great', cursive;
font-family: 'Marvel', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Normalize */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style */

body {
    font-family: 'Roboto Slab', serif;
    background: url(../img/portada.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: snow;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.titulo {
    text-align: center;
    font-size: 4rem;
    margin: 5rem auto;
    text-decoration: underline;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    color: snow;
}

.boton {
    border: ridge 2px gainsboro;
    border-radius: 2rem;
    font-family: 'Marvel', sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.boton:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
    background-color: #76f376;
}


.barra_botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 1rem;
    z-index: 1;
}

.botones_funciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem auto;
}

#boton_carrito {
    --bs-btn-color: #424141;
    --bs-btn-bg: #aedb4a;
    margin-left: 2rem;
}

#contador {
    background: tomato;
    font-size: 1.8rem;
    border-radius: 1rem;
}

/* Style Cards */

.loading {
    text-align: center;
    font-size: 2rem;
    color: snow;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    justify-content: center;
    margin: 0 6rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Marvel', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(to right, #ada996, #ffffff, #c7c6c6, #ad9696);
    border: ridge 4px rgb(253, 198, 172) !important;
    opacity: 0.95;
}

.card__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img {
    width: 75%;
    height: 24vh;
    border-radius: 1rem;
    border: ridge 2px rgba(247, 175, 42, 0.781);
}

.btn_agregar {
    border: ridge 2px gainsboro;
    border-radius: 2rem;
    margin: 2rem;
}

/* Style Formulario Nuevo Producto */

.nuevo_producto {
    align-self: center;
}

.formulario_producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    border: ridge deeppink 5px;
    padding: 2rem;
    width: 50vw;
    margin: 2rem auto;
    background: linear-gradient(to right, #ffefba, #ffffff);
}

.formulario_producto form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-family: 'Roboto Slab', serif;
}

.labels {
    text-decoration: underline;
    font-weight: bold;
}

.inputs {
    border: red solid 2px;
    border-radius: 2rem;
    width: 75%;
}

/* Modal */

.modal {
    --bs-modal-bg: #c1d58d !important;
}

.modal p {
    font-family: 'Marvel', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.modal-title {
    font-family: 'Marvel', sans-serif;
    font-size: 2rem;
}

/* Media Queris */

@media only screen and (max-width: 1200px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        margin: 0 4rem;
    }
}

@media only screen and (max-width: 860px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .botones_funciones {
        gap: 1rem;
    }

    .catalogo {
        grid-template-columns: repeat(1, 1fr);
    }
}
